#cardContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .mountainCard {
        width: 20%;
        background-color: $primary_70;
        font-size: $font_M;
        padding: 4rem;
        margin:4rem;
        border: 2px, solid, $primary_40;

        label {
            font-size: $font_XXL;
            width: 100%;
            height: 100%;

        }
    }
}
